#ICaja{
    margin-top: 10px;
    width: 80%;
    margin-bottom: 30px;
}
#ICajaM{
    width: 80%;
    margin-top: 30px;
}
#ICajaS{
    margin-top: 30px;
    width: 80%;
}
#IRegistro{
    margin-top: 200px;
}

#Caja{
    margin-top: 20%;
}
